extends layout

block content
  .head
    .container
      h3.m-0.py-3
        strong ABOUT US

block section
  .col-md-8
    img(src="/images/title-picabout.png")
    p.pt-3.pr-4
      small.card-text.
        Pralisha International Co. was established in 80’s, with a vision to supply premium 
        quality of rice to its customers. Utilizing the experience spread over 
        two decades Pralisha International Co. decided to discover new horizons by expanding 
        its operations in commodity trading and export to major international 
        markets. In a short span of time it has risen to be one of the leading 
        millers and exporters in the industry.
    p.pr-4
      small.card-text(style="font-weight: bold !important;").
        “We are confident that our product’s quality will surpass your expectations 
        giving way to a long lasting relationship. Our customer’s satisfaction and 
        success is of paramount importance and vital to us”
    p.pr-4
      small.card-text.
        Pralisha International Co. has been well recognized for its remarkable performance, 
        trustful and dedicated services to consistently supply quality rice to the 
        domestic and world markets. Pralisha International Co. owns major stakes in the industry 
        and considered renowned and reputed for its quality products and commitments.
    p.pr-4
      small.card-text.
        Pralisha International Co. deal in all kinds of prime quality rice e.g super basmati, 
        irri 6, irr 9, d-98, pk 386 and others, polished in various degrees (5%, !0%..). 
        Complete details regarding products are available here.
    p.pr-4
      small.card-text.
        Our Rice processing mill, located in industrial area of Karachi. fully equipped 
        with modern machinery and spacious warehouses, is operated by well trained and 
        skilled staff, supervised by a professional management team. Strict quality control 
        and inspection at every stage has ensured products of a high standard.
