extends layout

block content
  header
    img.rice_paddy(src="/images/ambitios_bg.gif")
    .container.carousel-container
      #carousel.carousel.slide(data-ride='carousel')
        .carousel-inner
          .carousel-item.active
            img.d-block.w-100(src='/images/title-picabout.png', alt='First slide')
          .carousel-item
            img.d-block.w-100(src='/images/title-riceprocess.png', alt='Second slide')
          .carousel-item
            img.d-block.w-100(src='/images/title-ricequality.png', alt='Third slide')
          .carousel-item
            img.d-block.w-100(src='/images/title-ricevarieties.png', alt='Third slide')
        a.carousel-control-prev(href='#carousel', role='button', data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carousel', role='button', data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next


block section
  .col-md-8
    h4.text-secondary.pb-2 Welcome to Pralisha International Company - Ghana Limited (PIC)
    p
      small.card-text.text-secondary.
        One of the leading Rice Exporters in Thailand. The Company has been 
        in the Rice business since 1980's and has remained one of the largest 
        Rice exporter from the country shipping up to Four hundred thousand 
        (400,000) M. Tons annually.
    p
      small.card-text.text-secondary.
        Our consistent performance over the decades has been due to our philosophy 
        to keep the customers interest paramount in all circumstances and to build 
        on a relationship rather than any specific transaction.
    p
      small.card-text.text-secondary.
        With its mission to focus on Quality Assurance, Supply Reliability, On Time 
        Shipment, Reasonable Price and Customer Coordination. ITC is dedicated to 
        your success, promising high quality rice products, personal customer service 
        and communication. You'll be kept up to date on a one-to-one basis about the 
        progress of your shipment. Relying on years of experience.
    .line-brown.my-3
    .header.text-secondary.pb-2 MISSION STATEMENT
    .row
      .col-md-4
        span.thumbnail
          img.statement(src="/images/globe_flat.jpg")
      .col-md-8
        p
          small.card-text(style="font-weight: bold !important;").
            "To lead the Global Rice Market by producing superior quality through 
            consistent innovation in our products development, advanced technology, 
            packaging and quality control "
          br
          small.card-text.text-secondary PIC is driven by 4 key values:
        
        ul.values
          li 
            small.card-text.text-secondary To embrace a commitment to excellence.
          li
            small.card-text.text-secondary To learn from our successes and failures and constantly improve what we do.
          li
            small.card-text.text-secondary To be honest and straightforward with one another and our customers.
          li
            small.card-text.text-secondary To challege the status quo to improve and succeed in the market palce.
    
    .line-green.my-3
    .header.text-secondary.pb-2 OUR COMMITMENT
    .row
      .col-md-4
        span.thumbnail
          img.statement(src="/images/commitment.jpg")
      .col-md-8
        p
          small.card-text.text-secondary.
            " As an organisation we understand and respect the role we play in our society and the impact our
            actions have, not only on our local communities, but also on a worldwide scale. We take our 
            responsibility seriously looking after the environment, our colleagues and our customers. 
        p
          small.card-text.text-secondary.
            As a major supplier we have a duty to ensure that our manufacturing processes and standards 
            deliver consistent food products at the highest quality. We are committed to the long term 
            health of our business and developing a growth plan which is not only aggressive but also sustainble. "