extends product

block content
  .head
    .container
      h3.m-0.py-3
        strong VEGETABLE COOKING OIL

block section
  .col-md-8
    img(src='/images/cooking-oil-stretch.jpg', style="width: 100%;height: 340px;border:5px solid white;")

 