extends layout

block content
  .head
    .container
      h3.m-0.py-3
        strong RICE PROCESSING &amp; MILLING

block section
  .col-md-8
    img(src="/images/title-riceprocess.png")
    p.pt-3.pr-4
      small.card-text.
        Pralisha International Co. is one of the leading processors, millers, suppliers 
        and exporters of the finest quality Pakistani super kernal basmati rice 
        and long grain white IRRI-9 and IRRI-6 rice from Pakistan. We export 
        rice in all broken percentages, different Polishing (regular polish, 
        double polish, silky polish etc.), well cleaned, extra-well milled, 
        sortexed and different grain lengths ranging from 5.5mm to 7.4 mm AGL 
        (average grain length). All basmati and non-basmati varieties together 
        with parboiled (sella) basmati rice are also available for supply in bulk quantities.     
    img.py-49(src="/images/process1.png")
    p.pt-3.pr-4
      small.card-text.
        Our main objective is to bring the premium quality rice for you, to gain 
        this achievement we have to pass through a multi-step process in which each 
        step is processed by taking special care as the quality is our main concern
