doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/popper.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
  body(data-spy="scroll", data-target="#navbar", data-offset="150")

  .modal.fade(id='picturesModal', tabindex='-1', role='dialog')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          #carousel.carousel.pictures.slide(data-ride="carousel")
            .carousel-inner
              .carousel-item.active
                img(src="/images/"+product+".jpg")
              each image in pictures
                .carousel-item
                  img(src="/"+product+"/"+image)
            a.carousel-control-prev(href="#carousel", role="button", data-slide="prev")
              span.carousel-control-prev-icon
            a.carousel-control-next(href="#carousel", role="button", data-slide="next")
              span.carousel-control-next-icon

              
  nav#navbar.navbar.navbar-expand-md.navbar-dark.bg-dark.sticky-top
      a.navbar-brand(href='/')
        img(src='/images/logo-white.png', style="width: 50px; height: 50px;")
        span.px-2.text-secondary.d-none.d-md-inline.d-xs-none Pralisha International Company, Ghana Limited
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar1')
        span.navbar-toggler-icon
      #navbar1.navbar-collapse.collapse.justify-content-center
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/#carousel') HOME
          li.nav-item
            a.nav-link(href='/#products') PRODUCTS
          li.nav-item
            a.nav-link(href='/#contacts') CONTACTS
      #navbar2.navbar-collapse.collapse.justify-content-end
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="#")
              i.fa.fa-facebook
          li.nav-item
            a.nav-link.text-primary(href="#")
              i.fa.fa-twitter
          li.nav-item
            a.nav-link.text-danger(href="#")
              i.fa.fa-google-plus
          li.nav-item
            a.nav-link.text-warning(href="#")
              i.fa.fa-envelope
  block content

  foooter
      #contact.contact.bg-dark
        .container
          .row
            .col.text-white
              h5 Navigation
              ul
                li 
                  a.text-secondary(href="/#carousel") Home
                li 
                  a.text-secondary(href="/#products") Products
                li 
                  a.text-secondary(href="/#contacts") Contacts
            .col.text-white
              h5 Products
              ul
                li 
                  a.text-secondary(href="/product/rice") Rice
                li 
                  a.text-secondary(href="/product/sugar") Sugar
                li 
                  a.text-secondary(href="/product/wheatflour") Wheatflour
                li
                  a.text-secondary(href="/product/oil") Cooking Oil
            .col.text-white
              h5 Contact
              ul
                li
                  a.text-secondary(href='tel:+233265749181')
                    i.fa.fa-phone.fa-fw
                    small +233 265 749 181 
                li
                  a.text-secondary(href='tel:+233242989039')
                    i.fa.fa-phone.fa-fw
                    small +233 242 989 039
                li
                  a.text-secondary(href='mailto:info@pralisha.com')
                    i.fa.fa-envelope.fa-fw
                    small info@pralisha.com
                li
                  i.fa.fa-facebook-square.fa-fw.fa-2x(style='color: #4267b2;')
                  i.fa.fa-google-plus-square.fa-fw.fa-2x.text-danger
                  i.fa.fa-twitter-square.fa-fw.fa-2x.text-info
            .col.text-white
              h5 Subscribe
              h6.text-secondary Enter your email address to receive updates and newsletters from us
              form(action="")
                .form-group
                  .input-group
                    .input-group-prepend
                      .input-group-text
                        i.fa.fa-envelope
                      input.form-control(type="text")
                .form-group
                  button.form-control.btn.btn-outline-secondary.mt-1(type='submit', style='border-radius: 2px !important;') Subscribe
          hr
          p.text-white.text-center &copy; Pralisha International Ghana Company Limited.