extends layout

block content
  .head
    .container
      h3.m-0.py-3
        strong OUR PRODUCTS

block section
  .col-md-8
    .row.align-items-center
      .col-md-4.px-1
        span.product
          img.statement(src="/images/rice.jpg")
          
      .col-md-8
        .header.text-secondary.pt-2 RICE
        p
          small.card-text.text-secondary. 
            WE EXPORT ALL THE MAJOR VARIETIES OF THAILAND RICE INCLUDING: - SUPER KERNEL 
            BASMATI, BASMATI 385, PK 386, IRRI 9 RICE, IRRI 6 RICE AND 1121 BASMATI RICE VARIETIES
        ul
          li
            small Ranging from 0% to 25 % Broken
          li
            small Packed in Paper, Cotton, Jute, High density polythin, &amp; polypropylene line bags.
          li
            small In sizes ranging form 5Kgs upto 50Kgs packing.
          li
            small Processed as reasonable well milled, doubled polish, silky polish, parboiled or brown rice.
        
        a.text-danger(href="/product/rice") 
          span.pr-2 Click for more details
          i.fa.fa-arrow-circle-o-right
    .line-grey.my-3
    .row
      .col-md-4.px-1
        span.product
          img.statement(src="/images/sugar-3.jpg")
          
      .col-md-8
        .header.text-secondary.pb-2 SUGAR
        ul
          li
            small Type: 
              span.px-2(style="font-weight: bold") ICUMSA - 45
          li
            small Origin: 
              span.px-2(style="font-weight: bold") Brazil
          li
            small Packaging: 
              span.px-2(style="font-weight: bold") Thailand
          li
            small Quality:
              span.px-2(style="font-weight: bold") International Standard
          li
            small Quantity:	
              span.px-2(style="font-weight: bold") As per required
          li
            small Packing:
              span.px-2(style="font-weight: bold") 50kgs bag PP
          li
            small Labelling:
              span.px-2(style="font-weight: bold") Customer brand with extra cost
        a.text-danger(href="/product/sugar") 
          span.pr-2 Click for more details
          i.fa.fa-arrow-circle-o-right
    .line-grey.my-3
    .row
      .col-md-4.px-1
        span.product
          img.statement(src="/images/oil.jpg")
      .col-md-8
        .header.text-secondary.pb-2 COOKING OIL
        ul
          li
            small Origin: 
              span.px-2(style="font-weight: bold") 
          li
            small Quality:
              span.px-2(style="font-weight: bold") International Standard
          li
            small Quantity:	
              span.px-2(style="font-weight: bold") As per required
          li
            small Packing:
              span.px-2(style="font-weight: bold") 
          li
            small Labelling:
              span.px-2(style="font-weight: bold") Customer brand with extra cost
        a.text-danger(href="/product/oil") 
          span.pr-2 Click for more details
          i.fa.fa-arrow-circle-o-right
    .line-grey.my-3
    .row
      .col-md-4.px-1
        span.product
          img.statement(src="/images/wheatflour-2.jpg")
      .col-md-8
        .header.text-secondary.pb-2 WHEATFLOUR
        ul
          li
            small Origin: 
              span.px-2(style="font-weight: bold") Bangkok
          li
            small Quality:
              span.px-2(style="font-weight: bold") International Standard
          li
            small Quantity:	
              span.px-2(style="font-weight: bold") As per required
          li
            small Packing:
              span.px-2(style="font-weight: bold") 50kgs bag PP
          li
            small Labelling:
              span.px-2(style="font-weight: bold") Customer brand with extra cost
        a.text-danger(href="/product/wheatflour") 
          span.pr-2 Click for more details
          i.fa.fa-arrow-circle-o-right