doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/popper.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
  body(data-spy="scroll", data-target="#navbar", data-offset="150")
    nav.navbar.navbar-expand-lg.navbar-dark.py-3.sticky-top
      .container
        a.navbar-brand(href='/')
          img(src='/images/pralisha_logo_white.png', style="width: 300px; height: 70px;")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar')
            span.navbar-toggler-icon
        #navbar.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li.nav-item
              a.nav-link(href="/") Home
            li.nav-item
              a.nav-link(href="/about") About us
            li.nav-item
              a.nav-link(href="/products") Products
            li.nav-item
              a.nav-link(href="/factory-process") Process
            li.nav-item
              a.nav-link(href="/quality") Quality Assurance
            li.nav-item
              a.nav-link(href="/contact") Contact us
            li.nav-item
              a.nav-link(href="/gallery") Gallery

    block content

    section.py-5
      .container
        .row
          block section
          .col-md-4
            .card.my-2.p-3
              strong.text-center.text-secondary Get Quotation
              p
              form(action="")
              .input-group.text-right
                  .input-group-prepend
                  label.input-group-text Quantity
                  input.form-control(type="number", placeholder="3", name="quantity", id="quanity")
              .form-group
                  label.text-secondary(for="details")
                  textarea.form-control.text-secondary(name="details", rows="6", placeholder="Additional details you would like to add")
              .form-group.my-2
                  input(type="hidden", name="product", value="rice")
                  strong.text-center.text-secondary Your Business Information 
                  input.form-control(type="text", placeholder="Email", name="email")
              .form-group.mb-2
                  input.form-control(type="text", placeholder="Confirm Email", name="conf_email")
              .form-group.mb-2
                  input.form-control(type="text", placeholder="Company Name", name="company")
              .form-group.mb-2
                  input.form-control(type="text", placeholder="Your Name", name="name")
              .form-group.mb-2
                  button.btn.btn-primary.btn-block.text-white(type="submit")
                    i.fa.fa-fw.fa-send
                    span Send
            .box.box-blue.my-5.p-2.text-right
              .header.text-white.pb-3 Rice Varieties
              h5.text-warning.py-4.
                Super Kernel basmati, Irri-6, Irri-9, Brown, Polished Parboiled
              a.text-white.pt-4(href="/product/rice")
                span.px-1 View Details
                i.fa.fa-arrow-circle-o-right
            .box.box-red.mb-3.p-2.text-right
              .header.text-white.pb-3 Rice Processing
              h5.text-dark.py-4.
                The process begins as soon as rice arrives from the fields...
              a.text-white(href="/factory-process")
                span.px-1 View Details
                i.fa.fa-arrow-circle-o-right 
            .box
              img(src="/images/member-box.png")
            
    footer.pt-5.pb-2
      .container
        .row
          .col.text-white
            h5 QUALITY POLICY
            p
              small.card-text. 
                Committed to satisfy the customers by providing Hygienic, Safe and Convenient food products
              hr
              small.card-text.
                Striving hard to establish and maintain a consumer focused management system through a skilled 
                and qualified team.
          .col.text-white
            h5 PRODUCTS
            ul
              li 
                a.text-white(href="/product/rice") 
                  small.card-text White Rice
              li 
                a.text-white(href="/product/suar") 
                  small.card-text White Sugar
              li 
                a.text-white(href="/product/oil") 
                  small.card-text Cooking oil
              li 
                a.text-white(href="/product/wheatflour") 
                  small.card-text Wheatflour

          .col.text-white
            h5 LINKS
            ul
              li 
                a.text-white(href="/") 
                  small.card-text Home
              li 
                a.text-white(href="/about") 
                  small.card-text About us
              li 
                a.text-white(href="/product/rice") 
                  small.card-text Products
              li 
                a.text-white(href="/factory-process") 
                  small.card-text Process
              li 
                a.text-white(href="/quality") 
                  small.card-text Quality Assurance
              li 
                a.text-white(href="/contact") 
                  small.card-text Contact us
              li 
                a.text-white(href="/gallery") 
                  small.card-text Gallery
          .col.text-white
            h5 SUBSCRIBE
            small.card-text Enter your email address to receive updates and newsletters from us
            form(action="")
              .form-group
                .input-group
                  .input-group-prepend
                    .input-group-text
                      i.fa.fa-envelope
                    input.form-control(type="email", placeholder="Enter your email", style='border-radius: 0 !important;')
              .form-group
                button.form-control.btn.btn-outline-light.mt-1(type='submit', style='border-radius: 0 !important;') Subscribe
        hr
        p.text-white.text-center 
          small &copy; Pralisah International Company - Ghana Limited