extends layout

block content
  .head
    .container
      h3.m-0.py-3
        strong QUALITY ASSURANCES

block section
  .col-md-8
    img(src="/images/title-ricequality.png")
    p.pt-3.pr-5
      h5.text-secondary QUALITY ASSURANCES
      small.card-text.
        It is the SERVICES in the commodity business that set apart an excellent 
        company from an average one. Being of the oldest and the largest exporters 
        from Pakistan we deliver on our promise of QUALITY, QUANTITY, PRICE, SOURCING 
        and TIME. We apply substantial investments and efforts fulfilling this pledge.
    p.pr-5
      h5.text-secondary QUALITY
      small.card-text.
        Stringent purchasing standards and quality controls with consistent blending 
        and preparation of rice stocks ensures a high uniform quality. We also maintain 
        substantial buffer stocks in our warehousing facility near Karachi Port with over 
        60,000M. tons capacity which prevents moisture, discoloring and polish variations 
        which may occur with low inventories and little lead time between shipments. All our 
        consignments are inspected by internal and external quality department.
    p.pr-5
      h5.text-secondary QUANTITY
      small.card-text.
        As a policy all bags are individually weighed on automatic packing machine and rechecked 
        at the time of shipment on electronic scales to doubly ensure that no variation in weight 
        occurs. 
    p.pr-5
      h5.text-secondary PRICE
      small.card-text.
        We offer extremely competitive prices to our Buyers due to high volumes handled by the 
        Company. The economies of scale realized due to large turnover assures competitive prices 
        for the customers.
    p.pr-5
      h5.text-secondary SOURCING
      small.card-text.
        Being the largest rice buyer in the local market on financially attractive terms, our company 
        is in a unique position to source the best available stocks for processing to ensure the premium 
        quality for our customers.
    p.pr-5
      h5.text-secondary TIME
      small.card-text.
        By maintaing large inventory of stocks at all time in our warehouses with steady stream of 
        available vessels, we can offer immediate deliveries to our buyers on C&amp;F basis 
        (even in off season). Thereby reducing the lead time for our Customers to avail the 
        opportunity in their domestic markets. 
    p.pr-5
      h5.text-secondary BENEFITS
      small.card-text.
        In a volatile commodity market, our performance for timely deliveries and fulfillment 
        of contractual obligations irrespective of prevailing prices is second to none. Our 
        team of rice and shipping experts provide on the spot assistance to our customers at 
        the time of importing and ship discharging to ensure smooth execution of the transaction 
        till the buyers warehouse  
