extends product

block content
  .head
    .container
      h3.m-0.py-3
        strong RICE PRODUCTS

block section
  .col-md-8
    img(src="/images/title-ricevarieties.png", style="max-width: 100%;")
    p
      small.card-text.text-secondary. 
        WE EXPORT ALL THE MAJOR VARIETIES OF THAILAND RICE INCLUDING: - SUPER KERNEL 
        BASMATI, BASMATI 385, PK 386, IRRI 9 RICE, IRRI 6 RICE AND 1121 BASMATI RICE VARIETIES
    ul
      li
        small Ranging from 0% to 25 % Broken
      li
        small Packed in Paper, Cotton, Jute, High density polythin, &amp; polypropylene line bags.
      li
        small In sizes ranging form 5Kgs upto 50Kgs packing.
      li
        small Processed as reasonable well milled, doubled polish, silky polish, parboiled or brown rice.
    .row.align-items-center.my-5
      .col-md-4.px-1
        span.product
          img.statement(src="/images/Irri6_Long_white_Parboiled_Rice.jpg")
          
      .col-md-8
        .header.text-secondary.pt-2 LONG GRAIN IRRI-6 WHITE RICE
        ul
          li
            small.card-text(style="font-weight: bold !important;") Quality: 
            small.card-text Long Grain, Well Cleaned Milled, Sortexed and Double Polished/Silky Polished,
          li
            small.card-text(style="font-weight: bold !important;") Crop: 
            small.card-text Current Crop is available.
          li
            small.card-text(style="font-weight: bold !important;") Broken: 
            small.card-text Different Broken Percentage is available as per requirement.
          li
            small.card-text(style="font-weight: bold !important;") Packing: 
            small.card-text In 25KG/50KG Single PP Bags.
          li
            small.card-text(style="font-weight: bold !important;") Length: 
            small 6.74 mm     
            small.card-text.pl-2(style="font-weight: bold !important;") Width: 
            small.card-text.pr-2 2.05 mm     
            small.card-text(style="font-weight: bold !important;") Thickness: 
            small.card-text 1.70 mm 
          li
            small.card-text(style="font-weight: bold !important;") Aroma: 
            small.card-text Not Present
    .row.align-items-center.my-5
      .col-md-4.px-1
        span.product
          img.statement(src="/images/long-parboiled-rice.jpg")
          
      .col-md-8
        .header.text-secondary.pt-2 LONG GRAIN IRRI-6 PARBOILED RICE
        ul
          li
            small.card-text(style="font-weight: bold !important;") Quality: 
            small.card-text Long Grain, Well Cleaned Milled, Sortexed and Double Polished/Silky Polished,
          li
            small.card-text(style="font-weight: bold !important;") Crop: 
            small.card-text Current Crop is available.
          li
            small.card-text(style="font-weight: bold !important;") Broken: 
            small.card-text Different Broken Percentage is available as per requirement.
          li
            small.card-text(style="font-weight: bold !important;") Packing: 
            small.card-text In 25KG/50KG Single PP Bags.
          li
            small.card-text(style="font-weight: bold !important;") Length: 
            small 6.74 mm     
            small.card-text.pl-2(style="font-weight: bold !important;") Width: 
            small.card-text.pr-2 2.05 mm     
            small.card-text(style="font-weight: bold !important;") Thickness: 
            small.card-text 1.70 mm 
          li
            small.card-text(style="font-weight: bold !important;") Aroma: 
            small.card-text Not Present
    .row.align-items-center.my-5
      .col-md-4.px-1
        span.product
          img.statement(src="/images/irri-9-long-grain.jpg")
          
      .col-md-8
        .header.text-secondary.pt-2 LONG GRAIN IRRI-9 WHITE RICE
        ul
          li
            small.card-text(style="font-weight: bold !important;") Quality: 
            small.card-text Long Grain, Well Cleaned Milled, Sortexed and Double Polished/Silky Polished,
          li
            small.card-text(style="font-weight: bold !important;") Crop: 
            small.card-text Current Crop is available.
          li
            small.card-text(style="font-weight: bold !important;") Broken: 
            small.card-text Different Broken Percentage is available as per requirement.
          li
            small.card-text(style="font-weight: bold !important;") Packing: 
            small.card-text In 25KG/50KG Single PP Bags.
          li
            small.card-text(style="font-weight: bold !important;") Length: 
            small 6.93 mm     
            small.card-text.pl-2(style="font-weight: bold !important;") Width: 
            small.card-text.pr-2 1.69 mm     
            small.card-text(style="font-weight: bold !important;") Thickness: 
            small.card-text 1.46 mm
          li
            small.card-text(style="font-weight: bold !important;") Aroma: 
            small.card-text Not Present
    .row.align-items-center.my-5
      .col-md-4.px-1
        span.product
          img.statement(src="/images/irri-9-parboiled.jpg")
          
      .col-md-8
        .header.text-secondary.pt-2 LONG GRAIN IRRI-9 PARBOILED RICE
        ul
          li
            small.card-text(style="font-weight: bold !important;") Quality: 
            small.card-text Long Grain, Well Cleaned Milled, Sortexed and Double Polished/Silky Polished,
          li
            small.card-text(style="font-weight: bold !important;") Crop: 
            small.card-text Current Crop is available.
          li
            small.card-text(style="font-weight: bold !important;") Broken: 
            small.card-text Different Broken Percentage is available as per requirement.
          li
            small.card-text(style="font-weight: bold !important;") Packing: 
            small.card-text In 25KG/50KG Single PP Bags.
          li
            small.card-text(style="font-weight: bold !important;") Length: 
            small 6.93 mm     
            small.card-text.pl-2(style="font-weight: bold !important;") Width: 
            small.card-text.pr-2 1.69 mm     
            small.card-text(style="font-weight: bold !important;") Thickness: 
            small.card-text 1.46 mm
          li
            small.card-text(style="font-weight: bold !important;") Aroma: 
            small.card-text Not Present
    .row.align-items-center.my-5
      .col-md-4.px-1
        span.product
          img.statement(src="/images/basmati-rice.jpg")
          
      .col-md-8
        .header.text-secondary.pt-2 BASMATI D-98 RICE
        ul
          li
            small.card-text(style="font-weight: bold !important;") Quality: 
            small.card-text Long Grain, Well Cleaned Milled, Sortexed and Double Polished/Silky Polished,
          li
            small.card-text(style="font-weight: bold !important;") Crop: 
            small.card-text Current and Old Crop is available. 
          li
            small.card-text(style="font-weight: bold !important;") Broken: 
            small.card-text Different Broken Percentage is available as per requirement.
          li
            small.card-text(style="font-weight: bold !important;") Packing: 
            small.card-text In 5KG/10KG/25KG/50KG Cotton, Jute or Single PP Bags
          li
            small.card-text(style="font-weight: bold !important;") Length: 
            small 6.73 mm     
            small.card-text.pl-2(style="font-weight: bold !important;") Width: 
            small.card-text.pr-2 1.64 mm     
            small.card-text(style="font-weight: bold !important;") Thickness: 
            small.card-text 1.52 mm
          li
            small.card-text(style="font-weight: bold !important;") Aroma: 
            small.card-text Present
    .row.align-items-center.my-5
      .col-md-4.px-1
        span.product
          img.statement(src="/images/PK-386-Long-Grain-White-Rice.jpg")
          
      .col-md-8
        .header.text-secondary.pt-2 LONG GRAIN PK 386 RICE
        ul
          li
            small.card-text(style="font-weight: bold !important;") Quality: 
            small.card-text Long Grain, Well Cleaned Milled, Sortexed and Double Polished/Silky Polished,
          li
            small.card-text(style="font-weight: bold !important;") Crop: 
            small.card-text Current and Old Crop is available. 
          li
            small.card-text(style="font-weight: bold !important;") Broken: 
            small.card-text Different Broken Percentage is available as per requirement.
          li
            small.card-text(style="font-weight: bold !important;") Packing: 
            small.card-text In 5KG/10KG/25KG/50KG Cotton, Jute or Single PP Bags
          li
            small.card-text(style="font-weight: bold !important;") Length: 
            small 6.78 mm     
            small.card-text.pl-2(style="font-weight: bold !important;") Width: 
            small.card-text.pr-2 1.78 mm     
            small.card-text(style="font-weight: bold !important;") Thickness: 
            small.card-text 1.56 mm
          li
            small.card-text(style="font-weight: bold !important;") Aroma: 
            small.card-text Not Present
    .row.align-items-center.my-5
      .col-md-4.px-1
        span.product
          img.statement(src="/images/super-kernel-basmati-rice-white.jpg")
          
      .col-md-8
        .header.text-secondary.pt-2 SUPER KERNEL WHITE BASMATI RICE
        ul
          li
            small.card-text(style="font-weight: bold !important;") Quality: 
            small.card-text Extra Long Grain, Well Cleaned Milled, Sortexed and Double Polished/Silky Polished,
          li
            small.card-text(style="font-weight: bold !important;") Crop: 
            small.card-text Current and Old Crop is available. 
          li
            small.card-text(style="font-weight: bold !important;") Broken: 
            small.card-text Different Broken Percentage is available as per requirement.
          li
            small.card-text(style="font-weight: bold !important;") Packing: 
            small.card-text In 5KG/10KG/25KG/50KG Cotton, Jute or Single PP Bags
          li
            small.card-text(style="font-weight: bold !important;") Length: 
            small 7.45 mm    
            small.card-text.pl-2(style="font-weight: bold !important;") Width: 
            small.card-text.pr-2 1.62 mm     
            small.card-text(style="font-weight: bold !important;") Thickness: 
            small.card-text 1.51 mm
          li
            small.card-text(style="font-weight: bold !important;") Aroma: 
            small.card-text Present
    .row.align-items-center.my-5
      .col-md-4.px-1
        span.product
          img.statement(src="/images/Parboiled_Super_Kernel_Basmati_Rice.jpg")
          
      .col-md-8
        .header.text-secondary.pt-2 SUPER KERNEL PARBOILED BASMATI RICE
        ul
          li
            small.card-text(style="font-weight: bold !important;") Quality: 
            small.card-text Extra Long Grain, Well Cleaned Milled, Sortexed and Double Polished/Silky Polished,
          li
            small.card-text(style="font-weight: bold !important;") Crop: 
            small.card-text Current and Old Crop is available. 
          li
            small.card-text(style="font-weight: bold !important;") Broken: 
            small.card-text Different Broken Percentage is available as per requirement.
          li
            small.card-text(style="font-weight: bold !important;") Packing: 
            small.card-text In 5KG/10KG/25KG/50KG Cotton, Jute or Single PP Bags
          li
            small.card-text(style="font-weight: bold !important;") Length: 
            small 7.45 mm    
            small.card-text.pl-2(style="font-weight: bold !important;") Width: 
            small.card-text.pr-2 1.62 mm     
            small.card-text(style="font-weight: bold !important;") Thickness: 
            small.card-text 1.51 mm
          li
            small.card-text(style="font-weight: bold !important;") Aroma: 
            small.card-text Present
    .row.align-items-center.my-5
      .col-md-4.px-1
        span.product
          img.statement(src="/images/1121-Extra-Long-Grain-Parboiled-Rice.jpg")
          
      .col-md-8
        .header.text-secondary.pt-2 1121 EXTRA LONG GRAIN PARBOILED BASMATI RICE
        ul
          li
            small.card-text(style="font-weight: bold !important;") Quality: 
            small.card-text Extra Long Grain, Well Cleaned Milled, Sortexed and Double Polished/Silky Polished,
          li
            small.card-text(style="font-weight: bold !important;") Crop: 
            small.card-text Current and Old Crop is available. 
          li
            small.card-text(style="font-weight: bold !important;") Broken: 
            small.card-text Different Broken Percentage is available as per requirement.
          li
            small.card-text(style="font-weight: bold !important;") Packing: 
            small.card-text In 5KG/10KG/25KG/50KG Cotton, Jute or Single PP Bags
          li
            small.card-text(style="font-weight: bold !important;") Length: 
            small 8.20 mm  
            small.card-text.pl-2(style="font-weight: bold !important;") Width: 
            small.card-text.pr-2 1.63 mm     
            small.card-text(style="font-weight: bold !important;") Thickness: 
            small.card-text 1.56 mm
          li
            small.card-text(style="font-weight: bold !important;") Aroma: 
            small.card-text Not Present
    .row.align-items-center.my-5
      .col-md-4.px-1
        span.product
          img.statement(src="/images/brokenrice.jpg")
          
      .col-md-8
        .header.text-secondary.pt-2 100% BROKEN RICE
        ul
          li
            small.card-text(style="font-weight: bold !important;") Quality: 
            small.card-text Long Grain, Well Cleaned Milled, Sortexed and Double Polished/Silky Polished,
          li
            small.card-text(style="font-weight: bold !important;") Crop: 
            small.card-text Current Crop is available.
          li
            small.card-text(style="font-weight: bold !important;") Broken: 
            small.card-text 100% Broken Rice
          li
            small.card-text(style="font-weight: bold !important;") Packing: 
            small.card-text :In 25KG/50KG Single PP Bags. 
          li
            small.card-text(style="font-weight: bold !important;") Length: 
            small 3-4.50 mm 
            small.card-text.pl-2(style="font-weight: bold !important;") Width: 
            small.card-text.pr-2 :n/a     
            small.card-text(style="font-weight: bold !important;") Thickness: 
            small.card-text :n/a
          li
            small.card-text(style="font-weight: bold !important;") Aroma: 
            small.card-text Not Present