extends product

block content
  .head
    .container
      h3.m-0.py-3
        strong WHITE SUGAR

block section
  .col-md-8
    img(src='/images/sugar-stretch.jpg', style="width: 100%;height: 340px;border:5px solid white;")
    .card.my-2
      .card-body
        table.table.table-striped
          tbody
            tr
              th Type
              td ICUMSA - 45
            tr
              th Structure
              td White and Fine Particles
            tr
              th Origin	
              td Brazil
            tr
              th Packaging
              td Thailand
            tr 
              th Quality	
              td International Standard
            tr 
              th Quantity	
              td As per required
            tr
              th Packing	
              td 50kgs bag PP
            tr
              th Labelling	
              td Customer brand with extra cost

    
    .card 
      table.table.table-striped
        thead.bg-dark.text-white 
          tr
            th(colspan="2") SPECIFICATIONS
        tbody
          tr
            th Ash Content 	
            td 0.04% Maximum by Weight
          tr
            th Moisture	
            td 0.04% Maximum by Weight
          tr
            th Solubility	
            td 100% Dry &amp; Free Flowing
          tr
            th Granulation
            td Fine Standard
          tr 
            th Color	
            td Sparkling White
          tr
            th Sediments	
            td None
          tr
            th Substance	
            td Solid Crystal
          tr
            th Smell	
            td Free from any smell
