extends product

block content
  .head
    .container
      h3.m-0.py-3
        strong WHEATFLOUR

block section
  .col-md-8
    img(src='/images/wheatflour-stretch.jpg', style="width: 100%;height: 340px;border:5px solid white;")
    .card.my-2
      .card-body
        table.table.table-striped
          tbody
            tr
              th Origin	
              td Bangkok
            tr 
              th Quality	
              td International Standard
            tr 
              th Quantity	
              td As per required
            tr
              th Packing	
              td 50kgs bag PP
            tr
              th Labelling	
              td Customer brand with extra cost
    .card 
      table.table.table-striped
        thead.bg-dark.text-white 
          tr
            th(colspan="2") SPECIFICATIONS
        tbody
          tr
            th Moisture
            td 9.72%
          tr
            th Dry Gluten (Dry weight basis)
            td 7.32%
          tr
            th Gluten (on wet basis)
            td 27.0%
          tr
            th Total Ash
            td 1.48%
          tr 
            th Alcohol Acidity
            td 0.12%
  